## E-Commerce Fraud Detection ETL

## Objectives

* In this notebook, we will perform the ETL (Extract, Transform, Load) process on the e-commerce fraud detection dataset. The goal is to clean and preprocess the data to make it suitable for analysis and modeling. We will check for duplicates, missing values, and inconsistencies in the data, and apply necessary transformations to ensure data quality.

## Inputs

*  The Raw dataset file Synthetic Fraud Transactions.csv, I have also used Python libraries such as Pandas and NumPy for data manipulation and analysis.

## Outputs

* We saved the new cleaned dataset to the DataSet/Cleaned folder as cleaned_transactions.csv

---

# Change working directory

* We are assuming you will store the notebooks in a subfolder, therefore when running the notebook in the editor, you will need to change the working directory

We need to change the working directory from its current folder to its parent folder
* We access the current directory with os.getcwd()

In [6]:
import os
current_dir = os.getcwd()
current_dir

'c:\\Users\\Nine\\OneDrive\\Documents\\VS Code Projects\\E-Commerce-Fraud-Detection-Capstone\\E-Commerce-Fraud-Detection-Capstone\\jupyter_notebooks'

We want to make the parent of the current directory the new current directory
* os.path.dirname() gets the parent directory
* os.chir() defines the new current directory

In [7]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

Confirm the new current directory

In [8]:
current_dir = os.getcwd()
current_dir

'c:\\Users\\Nine\\OneDrive\\Documents\\VS Code Projects\\E-Commerce-Fraud-Detection-Capstone\\E-Commerce-Fraud-Detection-Capstone'

# Extract and Load Raw Data

In [9]:
# Import Libraries
import pandas as pd
import numpy as np

## Extract ZIP file and load data

In [10]:
import zipfile
import os

# Extract the ZIP file
zip_path = "DataSet/Raw/Synthetic Fraud Transactions.zip"
extract_path = "DataSet/Raw/"

with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    zip_ref.extractall(extract_path)
    print("ZIP file extracted successfully!")

# List the extracted files
extracted_files = os.listdir(extract_path)
print("Extracted files:", extracted_files)

ZIP file extracted successfully!
Extracted files: ['data_dictionary.csv', 'README.md', 'Synthetic Fraud Transactions.zip', 'transactions.csv']

In [11]:
# Load the main dataset
df = pd.read_csv("DataSet/Raw/transactions.csv")

print(f"Dataset loaded successfully!")
print(f"Shape: {df.shape}")
print(f"Columns: {list(df.columns)}")

# Display first few rows
df.head()

Dataset loaded successfully!
Shape: (10000, 12)
Columns: ['transaction_id', 'user_id', 'timestamp', 'amount', 'country', 'device', 'channel', 'hour', 'dayofweek', 'coupon_applied', 'num_items', 'is_fraud']

,transaction_id,user_id,timestamp,amount,country,device,channel,hour,dayofweek,coupon_applied,num_items,is_fraud
0,6253,3594,2023-01-28 06:04:00,125.79,US,mobile,ads,6,5,0,5,0
1,4685,2502,2023-04-27 21:32:00,153.40,DE,mobile,web,21,3,0,3,0
2,1732,2287,2023-08-19 19:03:00,7.64,IN,tablet,app,19,5,0,3,0
3,4743,3043,2023-03-14 04:56:00,36.36,US,mobile,web,4,1,1,2,0
4,4522,4629,2023-09-24 21:33:00,55.17,ES,mobile,app,21,6,0,1,0

In [ ]:
## The dataset column names are easily readable and do not require extensive cleaning/ changing.

In [12]:
## Next we will check the structure of the data and clean it accordingly.

In [13]:
print(df.shape)     # rows, cols
df.info()
df.describe(include="all").T.head(20)

(10000, 12)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   transaction_id  10000 non-null  int64
 1   user_id         10000 non-null  int64
 2   timestamp       10000 non-null  object
 3   amount          10000 non-null  float64
 4   country         10000 non-null  object
 5   device          10000 non-null  object
 6   channel         10000 non-null  object
 7   hour            10000 non-null  int64
 8   dayofweek       10000 non-null  int64
 9   coupon_applied  10000 non-null  int64
 10  num_items       10000 non-null  int64
 11  is_fraud        10000 non-null  int64
dtypes: float64(1), int64(7), object(4)
memory usage: 937.6+ KB

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
transaction_id,10000.0,NaN,NaN,NaN,5000.5,2886.89568,1.0,2500.75,5000.5,7500.25,10000.0
user_id,10000.0,NaN,NaN,NaN,3010.5611,1152.371939,1000.0,2001.75,3004.0,4010.0,4999.0
timestamp,10000,9930,2023-01-12 08:55:00,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
amount,10000.0,NaN,NaN,NaN,79.797354,61.4693,2.01,36.785,62.245,105.0,530.7
country,10000,10,US,1951,NaN,NaN,NaN,NaN,NaN,NaN,NaN
device,10000,3,mobile,5961,NaN,NaN,NaN,NaN,NaN,NaN,NaN
channel,10000,5,web,4519,NaN,NaN,NaN,NaN,NaN,NaN,NaN
hour,10000.0,NaN,NaN,NaN,11.5847,6.937913,0.0,6.0,12.0,18.0,23.0
dayofweek,10000.0,NaN,NaN,NaN,3.03,1.999025,0.0,1.0,3.0,5.0,6.0
coupon_applied,10000.0,NaN,NaN,NaN,0.2441,0.429574,0.0,0.0,0.0,0.0,1.0
num_items,10000.0,NaN,NaN,NaN,3.192,1.488945,1.0,2.0,3.0,4.0,11.0
is_fraud,10000.0,NaN,NaN,NaN,0.0643,0.245299,0.0,0.0,0.0,0.0,1.0

In [ ]:
## For this next section i will use the help of AI to write code to help me convert the Dtype of the columns to the correct format.

In [15]:
categorical_cols = ["country", "device", "channel"]
bool_like_cols   = ["coupon_applied", "is_fraud"]
small_int_cols   = {"hour": "UInt8", "dayofweek": "UInt8", "num_items": "UInt16"}

# Timestamp to datetime (UTC)
if "timestamp" in df_clean.columns:
    df_clean["timestamp"] = pd.to_datetime(df_clean["timestamp"], utc=True, errors="coerce")

# Categorical text cleanup -> category dtype
for c in categorical_cols:
    if c in df_clean.columns:
        df_clean[c] = (
            df_clean[c]
            .astype("string")
            .str.strip()
            .str.lower()
            .replace({"": pd.NA})
            .astype("category")
        )

# Convert numeric columns safely
for col in ["amount", "hour", "dayofweek", "num_items", "transaction_id", "user_id"]:
    if col in df_clean.columns:
        df_clean[col] = pd.to_numeric(df_clean[col], errors="coerce")

# Booleans from 0/1/true/false -> pandas BooleanDtype (nullable)
truth_map = {True: True, False: False, 1: True, 0: False, "1": True, "0": False, "true": True, "false": False}
for c in bool_like_cols:
    if c in df_clean.columns:
        df_clean[c] = df_clean[c].map(truth_map).astype("boolean")

# Downsize small ints if present
for col, dtype in small_int_cols.items():
    if col in df_clean.columns:
        df_clean[col] = df_clean[col].astype(dtype)

# Amount as float (nullable)
if "amount" in df_clean.columns:
    df_clean["amount"] = df_clean["amount"].astype("Float64")

# IDs as integers (nullable)
for col in ["transaction_id", "user_id"]:
    if col in df_clean.columns:
        df_clean[col] = df_clean[col].astype("Int64")

df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   transaction_id  10000 non-null  Int64
 1   user_id         10000 non-null  Int64
 2   timestamp       10000 non-null  datetime64[ns, UTC]
 3   amount          10000 non-null  Float64
 4   country         10000 non-null  category
 5   device          10000 non-null  category
 6   channel         10000 non-null  category
 7   hour            10000 non-null  UInt8
 8   dayofweek       10000 non-null  UInt8
 9   coupon_applied  10000 non-null  boolean
 10  num_items       10000 non-null  UInt16
 11  is_fraud        10000 non-null  boolean
dtypes: Float64(1), Int64(2), UInt16(1), UInt8(2), boolean(2), category(3), datetime64[ns, UTC](1)
memory usage: 479.4 KB

In [17]:
## we will now check for duplicates and missing values in the dataset.

In [18]:
# Count exact duplicate rows
dup_rows_count = df_clean.duplicated(keep=False).sum()
print(f"Exact duplicate rows (before drop): {dup_rows_count}")

Exact duplicate rows (before drop): 0

In [19]:
# Check duplicates by transaction_id if that column exists
if "transaction_id" in df_clean.columns:
    dup_txn_count = df_clean["transaction_id"].duplicated(keep=False).sum()
    print(f"Rows with duplicate transaction_id (before de-dup by key): {dup_txn_count}")

Rows with duplicate transaction_id (before de-dup by key): 0

In [ ]:
## As we can see there are no duplicate rows or transaction IDs in the dataset.

In [20]:
## Next I will use AI to help me write code to handle missing values and invalid rows

In [21]:
# Define critical fields and rules
critical_non_null = ["timestamp", "transaction_id", "user_id", "amount", "num_items"]
for col in critical_non_null:
    if col not in df_clean.columns:
        print(f"Warning: expected column '{col}' not found.")

# Coerce negative amounts -> NA (policy choice), then require non-null
if "amount" in df_clean.columns:
    df_clean["amount"] = df_clean["amount"].mask(df_clean["amount"] < 0, pd.NA)

# If hour/dayofweek exist, ensure ranges; else treat as valid
hour_ok = (~df_clean["hour"].isna()) & df_clean["hour"].between(0, 23) if "hour" in df_clean.columns else True
dow_ok  = (~df_clean["dayofweek"].isna()) & df_clean["dayofweek"].between(0, 6) if "dayofweek" in df_clean.columns else True

# Positive IDs if present
tid_ok = (~df_clean["transaction_id"].isna()) & (df_clean["transaction_id"] > 0) if "transaction_id" in df_clean.columns else True
uid_ok = (~df_clean["user_id"].isna()) & (df_clean["user_id"] > 0) if "user_id" in df_clean.columns else True

# Build validity mask
valid_mask = (
    (df_clean["timestamp"].notna() if "timestamp" in df_clean.columns else True) &
    (df_clean["amount"].notna() if "amount" in df_clean.columns else True) &
    (df_clean["num_items"].notna() & (df_clean["num_items"] > 0) if "num_items" in df_clean.columns else True) &
    hour_ok & dow_ok & tid_ok & uid_ok
)

removed = (~valid_mask).sum()
df_clean = df_clean[valid_mask].copy()
print(f"Rows removed for missing/invalid values: {removed}")
print("Shape after cleaning:", df_clean.shape)

Rows removed for missing/invalid values: 0
Shape after cleaning: (10000, 12)

In [22]:
## From our checks we can see that this dataset is very clean with no duplicates and missing values.

In [23]:
# IQR-based outlier detection for 'amount' (no auto removal)
if "amount" in df_clean.columns:
    q1, q3 = df_clean["amount"].quantile([0.25, 0.75])
    iqr = float(q3 - q1)
    lower, upper = float(q1 - 1.5 * iqr), float(q3 + 1.5 * iqr)
    outlier_mask = (df_clean["amount"] < lower) | (df_clean["amount"] > upper)
    print(f"Potential amount outliers: {int(outlier_mask.sum())}")
    print(f"IQR bounds -> lower: {lower:.2f}, upper: {upper:.2f}")

    # Show top largest outliers for quick review
    display(df_clean.loc[outlier_mask].sort_values("amount", ascending=False).head(10))
else:
    print("Column 'amount' not found for outlier check.")

Potential amount outliers: 443
IQR bounds -> lower: -65.54, upper: 207.32

,transaction_id,user_id,timestamp,amount,country,device,channel,hour,dayofweek,coupon_applied,num_items,is_fraud
4497,8409,3589,2023-10-27 20:05:00+00:00,530.7,br,tablet,social,20,4,False,2,True
358,8869,2033,2023-05-27 05:04:00+00:00,525.66,fr,desktop,app,5,5,False,5,True
8589,3156,4874,2023-05-23 15:03:00+00:00,521.84,fr,desktop,web,15,1,False,2,True
6534,3337,3334,2023-07-04 03:21:00+00:00,495.2,us,mobile,app,3,1,False,3,True
2495,4863,4488,2023-11-20 14:36:00+00:00,472.64,jp,mobile,web,14,0,False,3,True
6704,7074,1348,2023-07-02 21:42:00+00:00,461.67,de,desktop,app,21,6,False,4,True
2103,4962,1256,2023-01-30 05:43:00+00:00,454.2,ca,mobile,web,5,0,False,4,True
6266,4321,1979,2023-05-20 15:21:00+00:00,441.8,in,desktop,app,15,5,False,3,True
7157,5935,3369,2023-12-11 08:33:00+00:00,432.64,ca,desktop,app,8,0,True,4,True
5147,6188,4074,2023-09-14 02:48:00+00:00,430.5,us,desktop,app,2,3,True,1,True

In [24]:
## These outliers will be retained for now as they may represent legitimate high-value transactions or fraud cases. Further analysis will determine their treatment.

---

In [25]:
## We will now save the cleaned dataset to a new CSV file and move on the EDA section.

In [31]:
# here we will save the cleaned dataset to a new CSV file located in the DataSet/Cleaned folder

# Save the cleaned dataset (corrected version)
output_path = "DataSet/Cleaned/cleaned_transactions.csv"
df_clean.to_csv(output_path, index=False)

# Create summary statistics
summary = {
    "rows": len(df_clean),
    "cols": df_clean.shape[1],
    "unique_transactions": int(df_clean["transaction_id"].nunique()) if "transaction_id" in df_clean.columns else None,
    "unique_users": int(df_clean["user_id"].nunique()) if "user_id" in df_clean.columns else None,
    "time_min_utc": str(df_clean["timestamp"].min()) if "timestamp" in df_clean.columns else None,
    "time_max_utc": str(df_clean["timestamp"].max()) if "timestamp" in df_clean.columns else None,
}

print(f"✅ Dataset saved successfully to: {output_path}")
print("📊 Summary of cleaned data:")
for key, value in summary.items():
    print(f"  {key}: {value}")

✅ Dataset saved successfully to: DataSet/Cleaned/cleaned_transactions.csv
📊 Summary of cleaned data:
  rows: 10000
  cols: 12
  unique_transactions: 10000
  unique_users: 3664
  time_min_utc: 2023-01-01 00:05:00+00:00
  time_max_utc: 2023-12-31 23:58:00+00:00

---

---