# **E-Commerce Fraud Detection ETL**

## Objectives

* In this notebook, you will perform the ETL (Extract, Transform, Load) process on the e-commerce fraud detection dataset. The goal is to clean and preprocess the data to make it suitable for analysis and modeling.

## Inputs

*  The Raw dataset file Synthetic Fraud Transactions.csv, I have also used Python libraries such as Pandas and NumPy for data manipulation and analysis.

## Outputs

* 

## Additional Comments

* If you have any additional comments that don't fit in the previous bullets, please state them here.

---

# Change working directory

* We are assuming you will store the notebooks in a subfolder, therefore when running the notebook in the editor, you will need to change the working directory

We need to change the working directory from its current folder to its parent folder
* We access the current directory with os.getcwd()

In [6]:
import os
current_dir = os.getcwd()
current_dir

'c:\\Users\\Nine\\OneDrive\\Documents\\VS Code Projects\\E-Commerce-Fraud-Detection-Capstone\\E-Commerce-Fraud-Detection-Capstone\\jupyter_notebooks'

We want to make the parent of the current directory the new current directory
* os.path.dirname() gets the parent directory
* os.chir() defines the new current directory

In [7]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

Confirm the new current directory

In [8]:
current_dir = os.getcwd()
current_dir

'c:\\Users\\Nine\\OneDrive\\Documents\\VS Code Projects\\E-Commerce-Fraud-Detection-Capstone\\E-Commerce-Fraud-Detection-Capstone'

# Extract and Load Raw Data

In [9]:
# Import Libraries
import pandas as pd
import numpy as np

## Extract ZIP file and load data

In [10]:
import zipfile
import os

# Extract the ZIP file
zip_path = "DataSet/Raw/Synthetic Fraud Transactions.zip"
extract_path = "DataSet/Raw/"

with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    zip_ref.extractall(extract_path)
    print("ZIP file extracted successfully!")

# List the extracted files
extracted_files = os.listdir(extract_path)
print("Extracted files:", extracted_files)

ZIP file extracted successfully!
Extracted files: ['data_dictionary.csv', 'README.md', 'Synthetic Fraud Transactions.zip', 'transactions.csv']

In [11]:
# Load the main dataset
df = pd.read_csv("DataSet/Raw/transactions.csv")

print(f"Dataset loaded successfully!")
print(f"Shape: {df.shape}")
print(f"Columns: {list(df.columns)}")

# Display first few rows
df.head()

Dataset loaded successfully!
Shape: (10000, 12)
Columns: ['transaction_id', 'user_id', 'timestamp', 'amount', 'country', 'device', 'channel', 'hour', 'dayofweek', 'coupon_applied', 'num_items', 'is_fraud']

,transaction_id,user_id,timestamp,amount,country,device,channel,hour,dayofweek,coupon_applied,num_items,is_fraud
0,6253,3594,2023-01-28 06:04:00,125.79,US,mobile,ads,6,5,0,5,0
1,4685,2502,2023-04-27 21:32:00,153.40,DE,mobile,web,21,3,0,3,0
2,1732,2287,2023-08-19 19:03:00,7.64,IN,tablet,app,19,5,0,3,0
3,4743,3043,2023-03-14 04:56:00,36.36,US,mobile,web,4,1,1,2,0
4,4522,4629,2023-09-24 21:33:00,55.17,ES,mobile,app,21,6,0,1,0

In [12]:
## Next we will check the structure of the data and clean it accordingly.

In [13]:
print(df.shape)     # rows, cols
df.info()
df.describe(include="all").T.head(20)

(10000, 12)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   transaction_id  10000 non-null  int64
 1   user_id         10000 non-null  int64
 2   timestamp       10000 non-null  object
 3   amount          10000 non-null  float64
 4   country         10000 non-null  object
 5   device          10000 non-null  object
 6   channel         10000 non-null  object
 7   hour            10000 non-null  int64
 8   dayofweek       10000 non-null  int64
 9   coupon_applied  10000 non-null  int64
 10  num_items       10000 non-null  int64
 11  is_fraud        10000 non-null  int64
dtypes: float64(1), int64(7), object(4)
memory usage: 937.6+ KB

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
transaction_id,10000.0,NaN,NaN,NaN,5000.5,2886.89568,1.0,2500.75,5000.5,7500.25,10000.0
user_id,10000.0,NaN,NaN,NaN,3010.5611,1152.371939,1000.0,2001.75,3004.0,4010.0,4999.0
timestamp,10000,9930,2023-01-12 08:55:00,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
amount,10000.0,NaN,NaN,NaN,79.797354,61.4693,2.01,36.785,62.245,105.0,530.7
country,10000,10,US,1951,NaN,NaN,NaN,NaN,NaN,NaN,NaN
device,10000,3,mobile,5961,NaN,NaN,NaN,NaN,NaN,NaN,NaN
channel,10000,5,web,4519,NaN,NaN,NaN,NaN,NaN,NaN,NaN
hour,10000.0,NaN,NaN,NaN,11.5847,6.937913,0.0,6.0,12.0,18.0,23.0
dayofweek,10000.0,NaN,NaN,NaN,3.03,1.999025,0.0,1.0,3.0,5.0,6.0
coupon_applied,10000.0,NaN,NaN,NaN,0.2441,0.429574,0.0,0.0,0.0,0.0,1.0
num_items,10000.0,NaN,NaN,NaN,3.192,1.488945,1.0,2.0,3.0,4.0,11.0
is_fraud,10000.0,NaN,NaN,NaN,0.0643,0.245299,0.0,0.0,0.0,0.0,1.0

---

# Section 2

Section 2 content

---

NOTE

* You may add as many sections as you want, as long as it supports your project workflow.
* All notebook's cells should be run top-down (you can't create a dynamic wherein a given point you need to go back to a previous cell to execute some task, like go back to a previous cell and refresh a variable content)

---